<% include header %>
<div class="m-content f-fl">
	<% article.forEach(function(vo, key){ %>
		<div class="m-wrap">
			<div class="u-cate f-fl"><span class="u-cate-ico f-db"></span></div>
			<div class="u-pic f-fl"><img src="<%= vo.pic %>" alt="<%= vo.title %>" title="<%= vo.title %>" /></div>
			<div class="u-title f-fr f-fwb"><a href="/post/<%= vo.id %>"><%= vo.title %></a></div>
			<div class="u-summary f-fr"><%= vo.summary %></div>
			<div class="u-info f-fr">作者：<%= vo.author.nickname %>　　发布时间：<%= vo.createAt %>　　评论数：<%= vo.comments.length %></div>
		</div>
	<% }) %>
	<% if(pages > 1){ %>
	<div class="m-pager f-tar">
		<ul class="pagination">
			<% if(isFirstPage){ %>
			<li class="disabled"><a href="javascript:void(0);">首页</a></li>
			<li class="disabled"><a href="javascript:void(0);">上一页</a></li>
			<% }else{ %>
			<li><a href="?page=1">首页</a></li>
			<li><a href="?page=<%- page-1 %>">上一页</a></li>
			<% } %>
			<% for(var i=1; i<=pages; i++){ %>
				<% if(page == i){ %>
				<li class="active"><a  href="javascript:void(0);"><%= i %></a></li>
				<% }else{ %>
				<li><a  href="?page=<%= i %>"><%= i %></a></li>
				<% } %>
			<% } %>
			<% if(isLastPage){ %>
			<li class="disabled"><a href="javascript:void(0);">&raquo;</a></li>
			<li class="disabled"><a href="javascript:void(0);">末页</a></li>
			<% }else{ %>
			<li><a href="?page=<%- page+1 %>">下一页</a></li>
			<li><a href="?page=<%= pages %>">末页</a></li>
			<% } %>
		</ul>
	</div>
	<% } %>
</div>
<div class="m-rightbar f-fr">
	<div class="u-avatar f-fl">
		<% if(user){ %>
		<img src="http://www.gravatar.com/avatar/<%= user.email.md5 %>?size=220" alt="sorvey" />
		<% }else{ %>
		<img src="http://www.gravatar.com/avatar/4a3d6da8a223c4266e3c04fddc5e4fac?size=220" alt="sorvey" />
		<% } %>
	</div>
</div>
<div class="f-cl"></div>
<% include footer %>

