<% include header %>
<div class="m-content f-fl">
	<% article.forEach(function(vo, key){ %>
		<div class="m-wrap">
			<div class="u-cate f-fl"><span class="u-cate-ico f-db"></span></div>
			<div class="u-pic f-fl"><img src="<%= vo.pic %>" alt=""></div>
			<div class="u-title f-fr"><a href="/post/<%= vo.id %>"><%= vo.title %></a></div>
			<div class="u-summary f-fr"><%= vo.summary %></div>
			<div class="u-info f-fr">发布时间：<%= vo.createAt %>　　评论数：<%= vo.comments.length %></div>
		</div>
	<% }) %>
</div>
<div class="m-rightbar f-fr">
	<div class="u-avatar f-fl">
		<% if(user){ %>
		<img src="http://www.gravatar.com/avatar/<%= user.email.md5 %>?size=220" alt="sorvey" />
		<% }else{ %>
		<img src="http://www.gravatar.com/avatar/4a3d6da8a223c4266e3c04fddc5e4fac?size=220" alt="sorvey" />
		<% } %>
	</div>
</div>
<div class="f-cl"></div>
<% include footer %>

